@import "setup";
@import "header";

h1 {
   font-style: italic;
   font-size: 6.5rem;
   text-transform: uppercase;
   letter-spacing: 0.4rem;
   margin: 0;
   display: inline;
}

h2 {
   padding: 0.5rem;
   font-size: 1.8rem;
}

h3 {
   margin: 0;
   padding: 0;
   margin-bottom: 2.5rem;
   font-size: 1.5rem;
   text-align: center;
}

h4 {
   font-size: 1.2rem;
}

.quizContainer2 h2 {
   padding: 2rem;
}

span {
   font-weight: 700;
   font-style: italic;
}

button,
input[type=submit] {
   font-size: 1.4rem;
   font-weight: 700;
   color: #ffffff;
   background: #000000;
   padding: 8px 16px;
   transition: 0.2s ease-in-out;
   -webkit-box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
   -moz-box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
   box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
}

input[type=submit] {
   margin: 5rem;
}

button:hover,
input[type=submit]:hover {
   color: #000000;
	cursor: pointer;
	background: paleturquoise;
}

h1,
.highlight {
   background: linear-gradient(180deg, rgba(255,255,255,0) 65%, paleturquoise 50%);
}

.highlight {
   text-transform: uppercase;
}

.hint {
   margin-top: 2rem;
}

.quizContainer2 {
   background-color: whitesmoke;
}

.question {
   text-align: center;
}

.quizImageContainer {
   display: flex;
   flex-direction: row;
   flex: 1 1 50%;
}

.quizImageContainer img {
   flex-wrap: wrap;
   width: 100%;
   margin-bottom: 0.5rem;
}

.quizOption {
   padding: 1rem;
}

.quizOption img {
   opacity: 1;
   transition: .3s ease-in-out;
}

.quizOption:hover img {
   opacity: .5;
}

input[type=submit] {
   margin-top: 2rem;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  -webkit-box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
-moz-box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
}

.finalScoreContainer {
   max-width: 900px;
   margin: 0 auto;
   text-align: center;
   padding: 4rem 0;
}

.score {
   font-size: 2.5rem;
}

@media (max-width: 550px) {
   h2 {
      padding: 0 2rem;
      margin: 2rem;
      font-size: 1.6rem;
   }

   h3 {
      font-size: 1.3rem;
   }

   .doodle {
   visibility: hidden;
   }
   .quizImageContainer {
      flex-direction: column;
   }
}