@import "setup";
@import "header";

h1 {
   font-style: italic;
   font-size: 6.5rem;
   text-transform: uppercase;
   letter-spacing: 0.4rem;
   margin: 0;
   display: inline;
}

h2 {
   margin-top: 3rem;
   margin-bottom: 0;
   font-size: 2.1rem;
}

h3 {
   margin: 0;
   padding: 0;
   margin-bottom: 2.5rem;
   font-size: 1.5rem;
   text-align: center;
}

h4 {
   font-size: 1.2rem;
}

.cityHeader {
   margin-top: 1rem;
}

span {
   font-weight: 700;
   font-style: italic;
}

button,
input[type=submit] {
   font-size: 1.4rem;
   font-weight: 700;
   color: #ffffff;
   background: #000000;
   padding: 8px 16px;
   transition: 0.2s ease-in-out;
   -webkit-box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
   -moz-box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
   box-shadow: 7px 7px 0px 0px rgba(255,255,255,1);
}

button:hover {
   color: #000000;
	cursor: pointer;
	background: paleturquoise;
}

h1,
.highlight {
   background: linear-gradient(180deg, rgba(255,255,255,0) 65%, paleturquoise 50%);
}

.highlight {
   text-transform: uppercase;
}

.hint {
   margin-top: 2rem;
}

.quizContainer1,
.quizContainer2 {
   padding-bottom: 6rem;
}

.quizContainer2 {
   background-color: whitesmoke;
}

.question {
   padding: 4rem;
   text-align: center;
}

.quizImageContainer {
   display: flex;
}

.quizImageContainer img {
   flex-direction: row;
   flex-wrap: wrap;
   width: calc(100% - 15px);
   margin-bottom: 10px;
}
.quizOption img {
   opacity: 1;
   transition: .3s ease-in-out;
}

.quizOption:hover img {
   opacity: .5;
}

.submitButton {
   margin: 5rem 0;
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  -webkit-box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
-moz-box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
box-shadow: 9px 9px 0px 0px rgba(175,238,238,1);
}