article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block;
}

audio, canvas, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

a:focus {
  outline: thin dotted;
}

a:active, a:hover {
  outline: 0;
}

h1 {
  font-size: 2em;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b, strong {
  font-weight: 700;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: \201C \201D \2018 \2019;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

button, input {
  line-height: normal;
}

button, html input[type=button], input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled], input[disabled] {
  cursor: default;
}

input[type=checkbox], input[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type=search] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body, figure {
  margin: 0;
}

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0);
  overflow: hidden;
}

html, body {
  font-family: 'Roboto Mono', monospace;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.headerContainer,
.submitContainer {
  text-align: center;
  overflow: hidden;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
  padding: 0;
}

.heroHeader {
  width: 100%;
  min-height: 100vh;
  background: url(../assets/hero-img.jpg) no-repeat top center fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.heading {
  position: relative;
  top: 9rem;
}

.doodle {
  position: absolute;
  width: 12%;
  top: 33%;
  right: 9%;
}

h1 {
  font-style: italic;
  font-size: 6.5rem;
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  margin: 0;
  display: inline;
}

h2 {
  padding: 1rem;
  font-size: 1.8rem;
}

h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 2.5rem;
  font-size: 1.5rem;
  text-align: center;
}

h4 {
  font-size: 1.2rem;
}

.quizContainer2 h2 {
  padding: 2rem;
}

.cityHeader {
  margin-top: 1rem;
}

span {
  font-weight: 700;
  font-style: italic;
}

button,
input[type=submit] {
  font-size: 1.4rem;
  font-weight: 700;
  color: #ffffff;
  background: #000000;
  padding: 8px 16px;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-box-shadow: 7px 7px 0px 0px white;
  box-shadow: 7px 7px 0px 0px white;
}

input[type=submit] {
  margin: 5rem;
}

button:hover,
input[type=submit]:hover {
  color: #000000;
  cursor: pointer;
  background: paleturquoise;
}

h1,
.highlight {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(65%, rgba(255, 255, 255, 0)), color-stop(50%, paleturquoise));
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, paleturquoise 50%);
}

.highlight {
  text-transform: uppercase;
}

.hint {
  margin-top: 2rem;
}

.quizContainer2 {
  background-color: whitesmoke;
}

.question {
  text-align: center;
}

.quizImageContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.quizImageContainer img {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin-bottom: 0.5rem;
}

.quizOption {
  padding: 1rem;
}

.quizOption img {
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.quizOption:hover img {
  opacity: .5;
}

input[type=submit] {
  margin-top: 2rem;
}

[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio] + img {
  cursor: pointer;
}

[type=radio]:checked + img {
  -webkit-box-shadow: 9px 9px 0px 0px paleturquoise;
  box-shadow: 9px 9px 0px 0px paleturquoise;
}

.finalScoreContainer {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  padding: 4rem 0;
}

.score {
  font-size: 2.5rem;
}
